{% extends "base.html" %}
{% block title %}Camera{% endblock %}

{% block content %}
<style>
    /* Style for the buttons */
    .stream-button {
        background-color: #007bff; /* Blue background color */
        color: white; /* White text color */
        border: none; /* No border */
        padding: 10px 20px; /* Padding around the text */
        margin: 5px; /* Margin around the button */
        cursor: pointer; /* Add a pointer cursor on hover */
        border-radius: 5px; /* Rounded corners */
    }

    .stream-button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }
</style>


<h1>QR Code Scanner</h1>
<img src="{{ url_for('auth.video_feed') }}" />
<button id="startStreamButton">Start Stream</button>
<button id="stopStreamButton">Stop Stream</button>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Start stream button event
        document.querySelector("#startStreamButton").addEventListener("click", function() {
            location.href = '{{ url_for("auth.start_stream") }}';
        });
        
        // Stop stream button event
        document.querySelector("#stopStreamButton").addEventListener("click", function() {
            location.href = '{{ url_for("auth.stop_stream") }}';
        });
    });
</script>
{% endblock %}